<?xml version="1.0" encoding="utf-8"?>
<Level>
<!-- One Objects are commented out since they do not yet have a sprite -->
	<!-- Beginning of Lower Level Blocks -->
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="16.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>	
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="50.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="84.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="118.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="152.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="186.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="220.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="254.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="288.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="322.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="356.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="390.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="424.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="458.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="492.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="526.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="560.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="594.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="628.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="662.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="696.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="730.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="764.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="798.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="832.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="866.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="900.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="934.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="968.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="1002.0f" posY="700.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<!-- End of Lower Level Blocks -->
	
	<!-- Beginning of Upper Level Blocks -->
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="16.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="50.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="84.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="118.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="152.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="186.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="220.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="254.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="288.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="322.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="356.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="390.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="424.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="458.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="492.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="526.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="560.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="594.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="628.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="662.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="696.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="730.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="764.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="798.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="832.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="866.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="900.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="934.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="968.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
		<Object elementType="Object" type="Block">
		<Component name= "Body" posX="1002.0f" posY="400.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<!-- End of Upper Level Blocks -->
  
	<!-- Beginning Obstacle Blocks -->
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="500.0f" posY="590.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<Object elementType="Object" type="Block">
		<Component name= "Body" posX="150.0f" posY="662.0f" angle="0.0f" state="1" friction="0.0f" density="1.0f" restitution="0.0f"  angularDamping="1.0f" linearDamping="1.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Block.png"/>
	</Object>
	<!-- End of Obstacle Blocks -->
	
	<!--
	<Object elementType="Object" type="BreakableBlock">
		<Component name="Body" posX="0.0f" posY="0.0f" angle="0.0f" state="0"/>
		<Component name="Sprite" path = "./Assets/Images/BreakableBlock.png"/>	
	</Object> 
	-->

  <!--
	<Joint elementType="Joint" type = "Distance" collide = "false" object1AnchorX="700.0f" object1AnchorY="200.0f" object2AnchorX="740.0f" object2AnchorY="195.0f" maxDistance="5.0f">
		<Object elementType="Object" type="CrazyPerson">
			<Component name="Body" posX="700.0f" posY="200.0f" angle="0.0f" state="0" friction="0.0f" density="0f" restitution="0.0f"  angularDamping="0.0f" linearDamping="0.0f" bodyType="DYNAMIC" bodyShape="RECTANGLE"/>
			<Component name="Sprite" path = "./Assets/Images/CrazyPerson.png"/>
			<Component name="CrazyPersonBehaviorComponent"/>
		</Object>
		<Object elementType="Object" type="CrazyPersonArm">
			<Component name="Body" posX="660.0f" posY="195.0f" angle="0.0f" state="0" friction="0.0f" density="0f" restitution="0.0f"  angularDamping="0.0f" linearDamping="0.0f" bodyType="DYNAMIC" bodyShape="RECTANGLE"/>
			<Component name="Sprite" path = "./Assets/Images/CrazyPersonArm.png"/>
		</Object>
	</Joint>
  -->

	<Object elementType="Object" type="Player">
		<Component name="Body" posX="100.0f" posY="50.0f" angle="0.0f" state="1" friction="0.0f" density="0f" restitution="0.0f"  angularDamping="0.0f" linearDamping="0.0f" bodyType="DYNAMIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Player.png"/>
		<Component name= "InputComponent"/>
	</Object>

	<Object elementType="Object" type="Racoon">
		<Component name="Body" posX="1000.0f" posY="608.0f" angle="0.0f" state="0" friction="0.0f" density="0f" restitution="0.0f"  angularDamping="0.0f" linearDamping="0.0f" bodyType="DYNAMIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/Racoon.png"/>
		<Component name= "RacoonBehaviorComponent"/>
	</Object>


	<Object elementType="Object" type="RabidRacoon">
		<Component name="Body" posX="700.0f" posY="608.0f" angle="0.0f" state="0" friction="0.0f" density="0f" restitution="0.0f"  angularDamping="0.0f" linearDamping="0.0f" bodyType="DYNAMIC" bodyShape="RECTANGLE"/>
		<Component name= "Sprite" path = "./Assets/Images/RabidRacoon.png"/>
		<Component name = "RabidRacoonBehaviorComponent"/>
	</Object>
<!-- Commented it out until level layout is figured out
  <Object elementType="Object" type="Building">
    <Component name="Body" posX="800.0f" posY="350.0f" angle="0.0f" state="0" friction="0.0f" density="0f" restitution="0.0f"  angularDamping="0.0f" linearDamping="0.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
    <Component name= "Sprite" path = "./Assets/Images/Building.png"/>
  </Object>
  <Object elementType="Object" type="Lunchbox">
    <Component name="Body" posX="800.0f" posY="350.0f" angle="0.0f" state="0" friction="0.0f" density="0f" restitution="0.0f"  angularDamping="0.0f" linearDamping="0.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
    <Component name= "Sprite" path = "./Assets/Images/Lunchbox.png"/>
  </Object>
  <Object elementType="Object" type="Concrete">
    <Component name="Body" posX="800.0f" posY="350.0f" angle="0.0f" state="0" friction="0.0f" density="0f" restitution="0.0f"  angularDamping="0.0f" linearDamping="0.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
    <Component name= "Sprite" path = "./Assets/Images/concrete.png"/>
  </Object>
  -->
  <Object elementType="Object" type="Lunchbox">
    <Component name="Body" posX="800.0f" posY="350.0f" angle="0.0f" state="0" friction="0.0f" density="0f" restitution="0.0f"  angularDamping="0.0f" linearDamping="0.0f" bodyType="STATIC" bodyShape="RECTANGLE"/>
    <Component name= "Sprite" path = "./Assets/Images/Lunchbox.png"/>
  </Object>
</Level>
